.button {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-transform: capitalize;
  text-align: center;
  min-width: 163px;
  max-width: 100%;
  white-space: nowrap;
  color: #ffffff;
  background-color: #33d35e;
  background-image: linear-gradient(135deg, #33d35e 0%, #2ab6d9 100%);
  border-radius: 22px;
  text-decoration: none;
}