.site-header {
  max-width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 50;
  background-color: #fff;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__link {
  display: inline-block;
  width: 140px;
  height: 20px;
}

.site-header__img {
  display: block;
  width: 140px;
  height: 20px;
}